body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('6.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.5s ease-in-out;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

#timer {
    font-size: 2em;
    margin-bottom: 20px;
}

#timer span {
    padding: 5px;
    background: rgba(211, 10, 10, 0.705);
    border-radius: 5px;
    margin: 0 5px;
}

.interactive-elements {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #ffcc00;
    color: #000;
}

button:hover {
    background: #ffdd33;
}

.gift {
    font-size: 3em;
    cursor: pointer;
    margin-top: 20px;
}

.gift:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #ffcc00;
}

.close:hover {
    color: #ffdd33;
}